layout python python3

# Search for appropriate env files.
# Pay close attention to the order of folders.  `$(pwd)` will be overriden by
# `instance` which will be overriden by `secrets`.  You'll probably only have
# one other folder, though.
# NOTE: direnv only supports `export`ed variables, not aliases/functions.
# https://github.com/direnv/direnv/issues/109#issuecomment-38694428
instance_folders=( . instance secrets )
env_files=( env.sh .env )
for folder_name in "${instance_folders[@]}"
do
    for file_name in "${env_files[@]}"
    do
        if [[ -e "${folder_name}/${file_name}" ]]; then
            echo "found ${folder_name}/${file_name}"
            source "${folder_name}/${file_name}"
        fi
    done
done
